{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
        <div class="home-wrapper">
        <h1>News</h1>
        <section class="news">
                <div class="content">
                <img src="https://www.gamespot.com/a/uploads/screen_kubrick/1601/16018044/4184715-saintsrow.jpg" alt="September PS Plus Essential Game Has Leaked">
                        <summary class="promo">
                        <h2>September PS Plus Essential Game Has Leaked</h2>
                        <span>Saints Row is reportedly headed to PS Plus in September.</span>
                        </summary>
                </div>
                <div class="content">
                <img src="https://www.gamespot.com/a/uploads/square_medium/1595/15950357/4184996-nintendoswitcholed.jpeg" alt="A Ton Of Nintendo Switch-Exclusive Games Are On Sale This Week">
                        <summary class="promo">
                        <h2>A Ton Of Nintendo Switch-Exclusive Games Are On Sale This Week</h2>
                        <span>You can save big on some of the best Nintendo Switch games, controllers, and headsets right now.</span> 
                        </summary>
                </div>
        </section>
        <div class="small-articles">
                <section class="promo-strip">
                        <div class="promo-strip__item">
                            <a href="...">
                                <img src="https://www.gamespot.com/a/uploads/screen_small/1179/11799911/4185402-d_1920%C3%971080pix_03.jpg" alt="">
                                <h3 class="media-title">The Biggest Game Releases Of September 2023</h3>
                            </a>
                        </div>
        
                        <section class="promo-strip">
                                <div class="promo-strip__item">
                                    <a href="https://www.gamespot.com/a/uploads/screen_small/1179/11799911/4185322-screenshot2023-08-29at10.10.32am.png">
                                        <img src="https://www.gamespot.com/a/uploads/screen_small/1179/11799911/4185322-screenshot2023-08-29at10.10.32am.png" alt="">
                                        <h3 class="media-title">Nintendo Direct Focused On Super Mario Bros. Wonder Coming Soon</h3>
                                    </a>
                                </div>
                    </section>
        
                    <section class="promo-strip">
                        <div class="promo-strip__item">
                            <a href="https://www.gamespot.com/a/uploads/screen_small/1179/11799911/4185402-d_1920%C3%971080pix_03.jpg">
                                <img src="https://www.gamespot.com/a/uploads/screen_small/1601/16018044/4182271-septembergames2023.jpg" alt="">
                                <h3 class="media-title">Baldur's Gate 3 Patch 2 Coming Soon With Major Changes, Including Fan Requests</h3>
                            </a>
                        </div>
            </section>
        
            <section class="promo-strip">
                <div class="promo-strip__item">
                    <a href="https://www.gamespot.com/a/uploads/screen_small/1179/11799911/4185402-d_1920%C3%971080pix_03.jpg">
                        <img src="https://www.gamespot.com/a/uploads/screen_small/1179/11799911/4185347-lara.jpg" alt="">
                        <h3 class="media-title">Lara Croft Has A New Video Game Look, But It May Never Appear In Tomb Raider</h3>
                    </a>
                </div>
        </section>
        </div>


        </div>
{% endblock content %}